axis2c_server/dmsserver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns1="http://org.apache.axis2/xsd" 
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:tns="http://server.ips.com" 
xmlns:ax21="http://server.ips.com/xsd" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
targetNamespace="http://server.ips.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.ips.com">

            <xs:complexType name="ProductCompleteType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="productCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ProductCompleteResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="ProductComplete" type="tns:ProductCompleteType"/>
            <xs:element name="ProductCompleteResponse" type="tns:ProductCompleteResponseType"/>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ProductCompleteRequestMsg">
        <wsdl:part name="ProductCompleteRequestMsgReq" element="tns:ProductComplete"/>
    </wsdl:message>
    <wsdl:message name="ProductCompleteResponseMsg">
        <wsdl:part name="ProductCompleteResponseMsgResq" element="tns:ProductCompleteResponse"/>
    </wsdl:message>

    <wsdl:portType name="DmsServerPortType">
        <wsdl:operation name="ProductComplete">
            <wsdl:input message="tns:ProductCompleteRequestMsg" />
            <wsdl:output message="tns:ProductCompleteResponseMsg" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DmsServerSoapBinding" type="tns:DmsServerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ProductComplete">
            <soap:operation soapAction="urn:ProductComplete" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DmsServer">
        <wsdl:port name="DmsServerPort" binding="tns:DmsServerSoapBinding">
            <soap:address location="http://localhost:8080/axis2/services/DmsServer"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
